@tailwind base;
@tailwind components;
@tailwind utilities;

.customize-checkbox{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.35em;
    height: 1.35em;
    border: 0.15em solid currentColor;
    border-radius: 5em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.customize-checkbox::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.customize-checkbox:checked::before{
    transform: scale(1);
}
.customize-checkbox:focus{
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
.w-800px{
    width: 800px;
}
.background-red{
    background-color: red;
}